
<div ng-show="!authService.User" class="jumbotron text-center">
    <h2>Welcome to Workout Tracker!</h2>
    <table align=center>
        <tr><td>
        <div class="jumbotron text-center">

      
            <h2> Please Login</h2>
            <form name="authForm">
                Username: 
                    <input type="text" id='userName' ng-model='auth.userName' /> <br/>
            </form>
        </div>  
            </td>
            <td>

        <div class="fb-login-button" data-max-rows="4" data-size="large" data-show-faces="true" data-auto-logout-link="true" align=right>
            
                </div>
                   
                <br/>
               
            </td>
                </tr>
        <tr>
        <td>
            <button ng-click="auth.loginUser(auth.userName)">Login</button>
            </td>
        <td> 
             <button ng-click="auth.loginUser('facebook')">Login with Facebook</button>
            </td></tr>
</table>
</div>